@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer>

    <nav class="clearfix">
        <ul class="end-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav> <!-- Closing NAV-->

    <img src="/media/nvjd5hto/logo-light.png" alt="Light Logo Version">

</footer>