@inherits Umbraco.Web.Mvc.UmbracoViewPage


<header>

<img alt="Dark Logo Version" src="/media/wwgc3ybw/logo-dark.png">

<nav class="clearfix">
    <ul class="main-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">New In</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Lighting</a></li>
        <li><a href="#">Rugs</a></li>
        <li><a href="#">Accesories</a></li>
        <li><a href="#"><ion-icon name="contact" class="icon-top"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="basket" class="icon-top"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="search" class="icon-top"></ion-icon></a></li>
    </ul>
</nav> <!-- Closing NAV-->

</header> <!-- Closing Header-->